mixin social-links
  a(href="https://github.com/7redeagle" target="_blank")
    include ../assets/social-svg/github.pug 
  a(href="https://codepen.io/7redeagle" target="_blank" rel="noopener")
    include ../assets/social-svg/codepen.pug 
